.single_launch  h1{

    color: cadetblue;
    
}
.react-slideshow-zoom-wrapper img{
    width:800px;
    height: 400px;
}
.single-launch h1{
    font-size: 22px;

}
.single-launch p{
    font-size: 16px;
    margin-bottom: 27px;

    line-height: 22px;
}