.single_launch  h1{

    color: cadetblue;
    
}
.react-slideshow-zoom-wrapper img{
    width:800px;
    height: 400px;
}
.single-launc h1{
    font-size: 22px;

}
.single-launc p{
    font-size: 16px;
    margin-bottom: 27px
}